<!DOCTYPE html>
<html>
<head>
  <title>SSR Example</title>
</head>
<body>
  <h1>Welcome to SSR with Express</h1>
  <% if (user) { %>
    <p>Hello, <%= user.name %> ! You are <%= user.age %> years old.</p>
  <% } else { %>
    <p>User not defined</p>
  <% } %>
</body>
</html>
